.button{
    color: white;
    background: #302176;
}

.button:hover{
    color: #302176;
    background: whitesmoke;
}

.detailmen{
    color: #302176;
}

.lovebtn{
    color: red;
}

.hide{
    display: none;
    visibility: hidden;
}